<html>
<body>
<h3>Welcome to our web site</h3>
<p>
Thank you for your registration. Your login details are:<br />
username:<b>${username}</b><br />
password:<b>${password}</b><br />
<img src="cid:welcome"
style="width:300px; height:150px;"></img>
<br>
</p>
</body>
</html>